.main{
    width: 600px;
    height: 600px;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}